{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<article class="content block--content">
    <header class="mb-5">
        <div id="page-title"><span class="active">{{- .Title -}}</span></div>
        {{/* <date>{{ .Date.Local.Format "2006-01-02" }}</date> */}}
    </header>
    <main>
        <div class="row">
            <div class="col-lg-3">
                {{ .Params.first | markdownify }}
            </div>
            <div class="col-lg-3">
                {{ .Params.second | markdownify }}
            </div>
            <div class="col-lg-3">
                {{ .Params.third | markdownify }}
            </div>
        </div>
    </main>
</article>
{{ end }}