<header id="global-header">
    <!-- navbar primary -->
    <div class="row g-0">
        <div class="col-md-3">
            <span id="site-name" class="py-3 mb-3">
                <a class="text-dark" href="/">{{ .Site.Title }}</a>
            </span>
        </div>
        <div class="col-md-6 menu--item--list">
            <a class="text-dark active" href="/projects">목록</a>
        </div>
        <div class="col-md-3">
            <div class="row g-0">
                <div class="col text-right">
                    <a href="#" id="search-click">검색</a>
                </div>
                <div class="col text-right">
                    <a href="/about">정보</a>
                </div>
                <div class="col text-right">
                    <a href="#">EN</a>
                </div>
            </div>
        </div>
    </div>
</header>