@import "./bs-custom";

.container-fluid.layout {
    padding: 40px 40px 0 40px;
}

#global-header {
    line-height: 1.42;
    letter-spacing: 0.3px;
    margin-bottom: 36px;
    .navbar {
        #site-name a {
            white-space: nowrap;
        }
        .menu--item--list {
            margin-left: 34px;
        }
    }
}

.active {
    border-bottom: 1px solid $gray-600;
    padding-bottom: 3px;
}

.card--project {
    margin-bottom: 18px;
    span {
        margin-top: 5px;
    }
}

#site-footer {
    padding: 40px 0;
}

.project {
    &--navbar {
        margin-bottom: 36px;
        &--titles {
            height: 14px;
            line-height: 28px;
        }
    }
    // &--description {
    // }
}

.same-height {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    .col {
        display: table-cell;
    }
}

.block--content {
    padding-top: 133px;
}

.navbar--secondary {
    margin-bottom: 55px;
}

#fastSearch {
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    display: inline-block;
    width: 300px;
}

#fastSearch input {
    padding: 4px 10px;
    width: 100%;
    height: 31px;
    font-size: 1.6em;
    color: #aaa;
    font-weight: bold;
    background-color: #000;
    border-radius: 3px 3px 0px 0px;
    border: none;
    outline: none;
    text-align: left;
    display: inline-block;
}

#searchResults li {
    list-style: none;
    margin-left: 0em;
    background-color: #333;
    border-bottom: 1px dotted #000;
}
#searchResults li .title {
    font-size: 1.1em;
    margin-bottom: 10px;
    display: inline-block;
}

#searchResults {
    visibility: inherit;
    display: inline-block;
    width: 320px;
}
