@import "./bs-custom";

.container-fluid.layout {
    padding: 40px 40px 0 40px;
}

#global-header {
    line-height: 1.42;
    letter-spacing: 0.3px;
    margin-bottom: 36px;
    .navbar {
        .container-fluid {
            align-items: flex-start;
        }
        #site-name a {
            white-space: nowrap;
        }
        .menu--item--list {
            margin-left: 34px;
        }
    }
}

.active {
    border-bottom: 1px solid $gray-600;
    padding-bottom: 3px;
}

.card--project {
    margin-bottom: 18px;
    span {
        margin-top: 5px;
    }
}

#site-footer {
    padding: 40px 0;
}

.project {
    &--navbar {
        margin-bottom: 36px;
        &--titles {
            height: 14px;
            line-height: 28px;
        }
    }
    // &--description {
    // }
}

.same-height {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    .col {
        display: table-cell;
    }
}

.block--content {
    padding-top: 133px;
}

.navbar--secondary {
    margin-bottom: 55px;
}

#fastSearch {
    visibility: hidden;
    display: inline-block;
    max-width: 365px;
}

#searchInput {
    border: 0;
    &:focus {
        outline: none;
    }
}

#searchResults {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 100px;
    left: 0;
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;

    .searchTerm {
        margin-bottom: 36px;
    }
    .list-unstyled {
        border-top: 1px dashed $gray-600;
        li {
            padding: 4px 0;
            border-bottom: 1px dashed $gray-600;
        }
    }
    
}
